{% extends 'base.html' %}
{% block content %}

<br>
<div class='container mt-4'>
	
	<div class="col-5 mx-auto border p-4">
	<h1 class="display-8 alert alert-info text-center">Signup Page</h1>
	<hr> 
  <div class="ui warning message" id="message" hidden="true"> 

  </div>
  
	<form method="POST" id="form"  action="/signup/" class="ui form">

  <div class="field">
    <label>Employee Name</label>
    <input type="text"  required="" placeholder="Employee name" name='name' id="username" autocomplete="off"> 
   </div> 
   <div class="field">
    <label>Email Id</label>
    <input type="email" required="" placeholder="Employee Email" name='email' id="email" autocomplete="off">
    
  </div>
  <div class="field">
    <label>Phone Number</label>
    <input type="number" required="" placeholder="Phone Number" name='designation' autocomplete="off"> 
  </div>
  
  <div class="field">
    <label>Password</label>
    <input type="password" required="" placeholder="*********" name='password' id="password">
    
  </div>
  
  <hr>
  <button type="submit" value="submit" class="btn btn-info ui-button">Submit</button>
  {% csrf_token %}
</form>

</div>	
</div>
<br><br>


{% endblock %}